<div class="row">
    <div class="col-sm-3 d-flex align-items-stretch" *ngFor="let cataegoryD of categoryData">
      <div class="card">
        <img src="{{'http://rjtmobile.com/grocery/images/' +cataegoryD.catImage}}" class="card-img-top" alt="">
        <div class="card-body bg-light">
          <h5 class="card-title">{{cataegoryD.catName}}</h5>
          <button (click)="onExploreButtonClick(cataegoryD.catId)" class="btn btn-dark">Explore</button>
        </div>
      </div>
    </div>
  </div>