@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'); */

body{
    margin:0;
    padding:0;
    background-color: rgb(243, 243, 243);
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'League Gothic', sans-serif; */
    margin:auto
}